# Entornos Virtuales
venv/
.venv/
env/

# Datos y Descargas (Carpeta de salida local)
descargas_pro/
outputs/
*.parquet
*.csv
*.zip

# Reportes e Informes generados
resumen_*.md
analisis_ia_*.md

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
